Source: intrat
Section: science
Priority: optional
Maintainer: Roger Wesson <rw@nebulousresearch.org>
Build-Depends: debhelper (>= 9.0.0), gfortran
Standards-Version: 3.9.5
Homepage: http://cdsarc.u-strasbg.fr/cgi-bin/myqcat3?VI/64/

Package: intrat
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Intensity ratios for hydrogenic ions
 Line intensity ratios and emissivities for Z=1-8
