#!/usr/bin/make -f
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build-arch: build
build-indep: build
build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	pdflatex baposter_guide.tex
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f baposter_guide.pdf baposter_guide.log baposter_guide.aux baposter_guide.out
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	cp baposter.cls $(CURDIR)/debian/latex-baposter/usr/share/texmf/tex/latex/baposter

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_installtex
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
