#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --no-parallel

override_dh_install:
	dh_install --exclude=.swp --exclude=.gitignore --exclude=convert_calpgm
